<div class="form-container">
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="wineName">Wine Name:</label>
        <input id="wineName" formControlName="wineName" />
        <div *ngIf="formSubmitted && reviewForm.get('wineName')?.invalid" class="error">
          Wine name is required.
        </div>
      </div>
  
      <div>
        <label for="review">Review:</label>
        <textarea id="review" formControlName="review"></textarea>
        <div *ngIf="formSubmitted && reviewForm.get('review')?.invalid" class="error">
          Review is required.
        </div>
      </div>
  
      <div>
        <label for="rating">Rating:</label>
        <input id="rating" type="number" formControlName="rating" />
        <div *ngIf="formSubmitted && reviewForm.get('rating')?.invalid" class="error">
          Rating between 1 and 5 is required.
        </div>
      </div>
  
      <button type="submit" [disabled]="reviewForm.invalid">Submit</button>
    </form>
  </div>
  